# Environment variables
.env

# Python
#
# Virtual environment
/venv/
/env/
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# IDE / Editor configuration
.idea/
.vscode/

.env
__pycache__/
.venv/
audit_log.json